.theme-toggle {
  background: var(--carde-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--text-color);
}

.theme-toggle:hover {
  background-color: var(--primary-accent);
  color: white;
}
