.main-app{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 10vh auto;
    gap: 2px;
}

.sidebar-layout { grid-area: 1 / 1 / 3 / 2; }
.header-layout { grid-area: 1 / 2 / 2 / 3; }
.pages-layout { grid-area: 2 / 2 / 3 / 3; }